<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>BankApplication</display-name>
  <context-param>
  	<param-name>host</param-name>
  	<param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
  	<param-name>port</param-name>
  	<param-value>587</param-value>
  </context-param>
  <context-param>
  	<param-name>user</param-name>
  	<param-value>sreesaiteja25@gmail.com</param-value>
  </context-param>
  <context-param>
  	<param-name>pass</param-name>
  	<param-value>johncena02</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>